@page "/mycases"
@inherits BaseComponent

<div class="welcome-row">
    <div class="container">
        <p class="welcome-heading">My Cases</p>
    </div>
</div>

<ECSM.Portal.Components.Cases.CasesGridComponent />