@using ECSM.Models.DTO
@using ECSM.Models.DTO.ServiceCatalogueItem
@using ECSM.Portal.Components.CardLayouts
@using ECSM.Services;
@using ECSM.Services.Cases
@using Microsoft.AspNetCore.Components;
@using ECSM.Models.DTO.ServiceCatalogue

@if (PinnedServiceItems.Any())
{
  @if (PinnedServiceItems.Count() > 1)
  {
    <div class="container-fluid">
      <div class="section-body container">
        <ECSM.Portal.Components.UI.SecondaryHeading HeadingText="Pinned Services" />

        <div class="services-section">
          @foreach (var item in PinnedServiceItems)
          {
            @foreach (var service in item.PinnedServices)
            {
              switch (item.TileLayout)
              {
                case 1:
                  <CardLayout1 catalogueCardDTO="new CatalogueCardDTO {
                    ServiceCatalogueId = item.ServiceCatalogueId,
                    CategoryID = item.CategoryId,
                    Name = item.Name,
                    Description = item.Description,
                    IconCode = item.IconCode,
                    IsCatalogue = true
                  }" />
                  break;
                case 2:
                  <CardLayout2 catalogueCardDTO="new CatalogueCardDTO {
                    ServiceCatalogueId = item.ServiceCatalogueId,
                    CategoryID = item.CategoryId,
                    Name = item.Name,
                    Description = item.Description,
                    IconCode = item.IconCode,
                    IsCatalogue = true
                  }" />
                  break;
                case 3:
                  <CardLayout3 catalogueCardDTO="new CatalogueCardDTO {
                    ServiceCatalogueId = item.ServiceCatalogueId,
                    CategoryID = item.CategoryId,
                    Name = item.Name,
                    Description = item.Description,
                    IconCode = item.IconCode,
                    IsCatalogue = true
                  }" />
                  break;
                case 4:
                  <CardLayout4 catalogueCardDTO="new CatalogueCardDTO {
                    ServiceCatalogueId = item.ServiceCatalogueId,
                    CategoryID = item.CategoryId,
                    Name = item.Name,
                    Description = item.Description,
                    IconCode = item.IconCode,
                    IsCatalogue = true
                  }" />
                  break;
                case 5:
                  <CardLayout5 catalogueCardDTO="new CatalogueCardDTO {
                    ServiceCatalogueId = item.ServiceCatalogueId,
                    CategoryID = item.CategoryId,
                    Name = item.Name,
                    Description = item.Description,
                    IconCode = item.IconCode,
                    IsCatalogue = true
                  }" />
                  break;
                case 6:
                  <CardLayout6 catalogueCardDTO="new CatalogueCardDTO {
                    ServiceCatalogueId = item.ServiceCatalogueId,
                    CategoryID = item.CategoryId,
                    Name = item.Name,
                    Description = item.Description,
                    IconCode = item.IconCode,
                    IsCatalogue = true
                  }" />
                  break;
                case 7:
                  <CardLayout7 catalogueCardDTO="new CatalogueCardDTO {
                    ServiceCatalogueId = item.ServiceCatalogueId,
                    CategoryID = item.CategoryId,
                    Name = item.Name,
                    Description = item.Description,
                    IconCode = item.IconCode,
                    IsCatalogue = true
                  }" />
                  break;
                case 8:
                  <CardLayout8 catalogueCardDTO="new CatalogueCardDTO {
                    ServiceCatalogueId = item.ServiceCatalogueId,
                    CategoryID = item.CategoryId,
                    Name = item.Name,
                    Description = item.Description,
                    IconCode = item.IconCode,
                    IsCatalogue = true
                  }" />
                  break;
                case 9:
                  <CardLayout9 catalogueCardDTO="new CatalogueCardDTO {
                    ServiceCatalogueId = item.ServiceCatalogueId,
                    CategoryID = item.CategoryId,
                    Name = item.Name,
                    Description = item.Description,
                    IconCode = item.IconCode,
                    IsCatalogue = true
                  }" />
                  break;
                case 10:
                  <CardLayout10 catalogueCardDTO="new CatalogueCardDTO {
                    ServiceCatalogueId = item.ServiceCatalogueId,
                    CategoryID = item.CategoryId,
                    Name = item.Name,
                    Description = item.Description,
                    IconCode = item.IconCode,
                    IsCatalogue = true
                  }" />
                  break;
                case 11:
                  <CardLayout11 catalogueCardDTO="new CatalogueCardDTO {
                    ServiceCatalogueId = item.ServiceCatalogueId,
                    CategoryID = item.CategoryId,
                    Name = item.Name,
                    Description = item.Description,
                    IconCode = item.IconCode,
                    IsCatalogue = true
                  }" />
                  break;
                default:
                  <CardLayout1 catalogueCardDTO="new CatalogueCardDTO {
                    ServiceCatalogueId = item.ServiceCatalogueId,
                    CategoryID = item.CategoryId,
                    Name = item.Name,
                    Description = item.Description,
                    IconCode = item.IconCode,
                    IsCatalogue = true
                  }" />
                  break;
              }
            }
          }
        </div>
      </div>
    </div>
  }
  else
  {
  }
}
