<div class="services-row">
    <div class="container-fluid">
        <div class="container catalogue-heading">
            <h4><strong>Pinned Services</strong></h4>
        </div>
        <div class="container">
            @* <ServiceComponent /> *@
        </div>
    </div>
</div>
