.custom-card {
  padding: 24px 16px;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #B2B7CE;
  background-color: var(--white);;
}


.card-title {
  color: #1D3688;
  font-size: var(--secondary-font-size);
  font-style: normal;
  font-weight: var(--secondary-font-weight);
  line-height: normal;
}

.card-description {
    color: #98A0BD;
    font-family: var(--secondary-font-family);
    font-size: var(--tertiary-font-size);
    font-style: normal;
    font-weight: var(--secondary-font-weight);
    line-height: 16px;
    margin-left: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;

}

.card-icon {
    width: 22px;
    height: 22px;
    margin-right: 5px;
}
.row.catalogue-section .layout2 {
  flex-shrink: 0;
  width: auto;
  max-width: fit-content;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
}