.main-heading {
  color: var(--primary-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container-catalogue-heading .main-heading {
  padding-bottom: 0px;
  margin-bottom: 0;
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-size: var(--secondary-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}

.information-section .main-heading {
  padding-top: 30px;
}

.catalogue-heading .main-heading {
  padding: 0;
  padding-bottom: 10px;
}

.catalogue-heading.main .main-heading {
  padding: 0;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.additional-knowledge .main-heading {
  font-size: 16px !important;
  margin-bottom: 0;
  color: var(--primary-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.additional-knowledge-card-container .main-heading {
  padding-bottom: 10px;
}

.knowledge-base-head .main-heading {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-bottom: 0;
}
