@using ECSM.Models.DTO
<div class="page-navigator">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none" @onclick="FirstPageClick">
            <path d="M11.8544 15.8528C11.6594 16.0484 11.3429 16.049 11.1472 15.8541L5.66276 10.3891C5.44705 10.1742 5.44705 9.82486 5.66276 9.60991L11.1472 4.14493C11.3429 3.95002 11.6594 3.95058 11.8544 4.14619C12.0493 4.3418 12.0487 4.65838 11.8531 4.8533L6.68851 9.99951L11.8531 15.1457C12.0487 15.3406 12.0493 15.6572 11.8544 15.8528ZM15.8534 15.8528C15.6585 16.0484 15.3419 16.049 15.1463 15.8541L9.66178 10.3891C9.44607 10.1742 9.44607 9.82486 9.66178 9.60991L15.1463 4.14493C15.3419 3.95002 15.6585 3.95058 15.8534 4.14619C16.0483 4.3418 16.0477 4.65838 15.8521 4.8533L10.6875 9.99951L15.8521 15.1457C16.0477 15.3406 16.0483 15.6572 15.8534 15.8528Z" fill="#132E51" />
        </svg><svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none" @onclick="FirstPageClick">
            <path d="M12.8544 15.853C12.6594 16.0486 12.3429 16.0492 12.1472 15.8543L6.66276 10.3893C6.44705 10.1744 6.44705 9.82504 6.66276 9.6101L12.1472 4.14512C12.3429 3.9502 12.6594 3.95077 12.8544 4.14637C13.0493 4.34198 13.0487 4.65857 12.8531 4.85348L7.68851 9.9997L12.8531 15.1459C13.0487 15.3408 13.0493 15.6574 12.8544 15.853Z" fill="#132E51" />
        </svg>
        @foreach (var pageItem in pageItems)
        {
            <span @onclick="() => SelectCurrentPage(pageItem)"  class="page-number @(pageItem.Active ? "active" : null) @(pageItem.Enabled ? null : "disabled")">@pageItem.Text</span>
        }
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none" @onclick="NextPageClick">
            <path d="M8.14582 4.14717C8.34073 3.95156 8.65731 3.95099 8.85292 4.14591L14.3374 9.61089C14.5531 9.82584 14.5531 10.1751 14.3374 10.3901L8.85292 15.8551C8.65731 16.05 8.34073 16.0494 8.14582 15.8538C7.9509 15.6582 7.95147 15.3416 8.14708 15.1467L13.3117 10.0005L8.14708 4.85427C7.95147 4.65936 7.9509 4.34278 8.14582 4.14717Z" fill="#132E51" />
        </svg>
        <svg  xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none" @onclick="LastPageClick">
            <path d="M9.14582 4.14717C9.34073 3.95156 9.65731 3.95099 9.85292 4.14591L15.3374 9.61089C15.5531 9.82584 15.5531 10.1751 15.3374 10.3901L9.85292 15.8551C9.65731 16.05 9.34073 16.0494 9.14582 15.8538C8.9509 15.6582 8.95147 15.3416 9.14708 15.1467L14.3117 10.0005L9.14708 4.85427C8.95147 4.65936 8.9509 4.34278 9.14582 4.14717ZM5.14582 4.14717C5.34073 3.95156 5.65731 3.95099 5.85292 4.14591L11.3374 9.61089C11.5531 9.82584 11.5531 10.1751 11.3374 10.3901L5.85292 15.8551C5.65731 16.05 5.34073 16.0494 5.14582 15.8538C4.9509 15.6582 4.95147 15.3416 5.14708 15.1467L10.3117 10.0005L5.14708 4.85427C4.95147 4.65936 4.9509 4.34278 5.14582 4.14717Z" fill="#132E51" />
        </svg>
    </div>
</div>
