<div class="container-fluid footer-row">
  <div class="container d-sm-block d-md-flex">
    <div class="col col-md-2 col-sm-12">
      <div class="logo-container d-flex justify-content-start">
        <a href="/" class="logo">
          <img src="@Logo" alt="Logo" class="logo-image">
        </a>
      </div>
    </div>
    <div class="col col-md-10 col-sm-12">
      <div class="justify-content-end d-sm-block d-md-flex" style="margin-top:1%">
        <div class="nav-item px-6">
          <NavLink class="nav-link helveticaFont" href="" Match="NavLinkMatch.All">
            Privacy Policy
          </NavLink>
        </div>
        <div class="nav-item px-6">
          <NavLink class="nav-link helveticaFont" style="color:white;" href="categories">
            Terms of Service
          </NavLink>
        </div>
        <div class="nav-item px-6">
          <NavLink class="nav-link helveticaFont" href="knowledgebase">
            Cookies Settings
          </NavLink>
        </div>
        <div class="nav-item px-6">
          <NavLink class="nav-link helveticaFont" href="knowledgebase">
            PAIA and POPIA
          </NavLink>
        </div>
        <span class="helveticaFont">
          <i class="material-symbols-outlined">Copyright</i> 2024 Stridentia. All rights reserved.
        </span>
      </div>
    </div>
  </div>
</div>
